<!DOCTYPE html>
<html>
<head>
  <title>Inventory Details</title>
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      padding: 8px;
    }
    table {
      width: 100%;
      margin-top: 20px;
    }
    th {
      background-color: #f2f2f2;
    }
    button:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  </style>
</head>
<body>

<h2>Inventory Details:</h2>

<h3>Enter the product details:</h3>

<form action="" method="post">
    {% csrf_token %}
    <input type="text" name="productname" placeholder="Enter product name" >
    <input type="text" name="price" placeholder="Enter price" >
    <input type="text" name="quantity" placeholder="Enter quantity" >
    <input type="text" name="discount" placeholder="Enter discount percentage" >
    
    <button type="submit" name="action" value="submit">Submit</button>
</form>

<h3>Task List:</h3>
<table>
    <tr>
        <th>S.No</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Discount</th>
        <th>Actions</th>
    </tr>
    {% for i in data %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.productname }}</td>
        <td>{{ i.price }}</td>
        <td>{{ i.quantity }}</td>
        <td>{{ i.discount }}</td>
        <td>
            <a href="{% url "update" i.id%}">Update</a>
            <a href="{% url "delete" i.id%}">Delete</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">No product details yet.</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
